<div class="bg-primary content">
<!--  Page Content-->
  <div class="container">
    <div class="row">
<!--      Blog Entries Column -->
      <div class="col-md-8">
        <div class="text-light my-4">
          <h1>My Blog</h1>
          <h5>Hipster Ipsum</h5>
        </div>

<!--        Blog Posts-->
        <div *ngIf="(posts$|async) as posts">
          <div *ngIf="posts.length else noPostsFound">
            <app-post-card [content]="post" *ngFor="let post of posts"></app-post-card>
          </div>
        </div>
        <ng-template #noPostsFound>
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">No Posts articles found</h5>
              <p class="card-text">We are cooking up some articles. Check another time</p>
            </div>
          </div>
        </ng-template>
      </div>

      <div class="col-md-4">
        <!--      Widgets-->
        <app-widgets></app-widgets>
      </div>

    </div>
<!--    .row-->
  </div>
<!--  container-->
</div>
